@model ASM2_KSTH.ViewModels.ScheduleVM

@{
    ViewData["Title"] = "Edit Schedule";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Edit Schedule</h2>

<div class="card">
    <div class="card-body">
        <div id="stepper3" class="bs-stepper gap-4 vertical linear">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#test-vl-3">
                    <div class="step-trigger" role="tab" id="stepper3trigger3" aria-controls="test-vl-3" aria-selected="false" disabled="disabled">
                        <div class="bs-stepper-circle"><i class="material-icons-outlined">auto_stories</i></div>
                        <div class="">
                            <h5 class="mb-0 steper-title">Education</h5>
                            <p class="mb-0 steper-sub-title">Education Class</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bs-stepper-content">
                <form asp-action="EditSchedule" method="post">
                    <div id="test-vl-1" class="bs-stepper-pane content fade active dstepper-block" aria-labelledby="stepper3trigger1">
                        <h5 class="mb-1">Your Schedule Information</h5>
                        <p class="mb-4">Edit Schedule information of KSTH University</p>
                        <input type="hidden" asp-for="ScheduleId" class="form-control" />
                        <input type="hidden" asp-for="EnrollmentId" class="form-control" />
                            <div class="row g-3">
                                <div class="col-12 col-lg-6">
                                    <label asp-for="Day" class="control-label"></label>
                                    <input asp-for="Day" class="form-control" />
                                    <span asp-validation-for="Day" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="control-label">Class name</label>
                                    <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassName"></select>
                                    <span asp-validation-for="ClassName" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="control-label">Course name</label>
                                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseName"></select>
                                    <span asp-validation-for="CourseId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="control-label">Room number</label>
                                    <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomNumber"></select>
                                    <span asp-validation-for="RoomId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="control-label">Slot name</label>
                                    <select asp-for="SlotId" class="form-control" asp-items="ViewBag.SlotName"></select>
                                    <span asp-validation-for="SlotId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="control-label">Teacher name</label>
                                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.Name"></select>
                                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4"><i class="bx bx-left-arrow-alt me-2"></i>Save</button>
                                        <a asp-action="Index" class="btn btn-success px-4">Back to List</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


