@model IEnumerable<ASM2_KSTH.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutTeacher.cshtml";
}




<p class="fw-bold fs-5" style="margin-bottom:15px">Select Courses</p>

@using (Html.BeginForm("Index", "Grades", FormMethod.Post))
{   
    <div class="col-md-6">

    <div class="form-group">

        <!-- Form start -->
        @using (Html.BeginForm())
        {
            <div class="form-group">
               
                <!-- Dropdown list with ViewData data -->
                @Html.DropDownList(
                         "courseId",
                         (SelectList)ViewData["Courses"],
                         "Choose Course",
                         new
                         {
                             @id = "bsValidation11",
                             @class = "form-select",
                             @required = "required",
                             onchange = "this.form.submit();"
                             
                         }
                         )
            </div>
        }
    </div>
    
    </div>

}

@if (ViewData.ContainsKey("Classes"))
{
    var classes = (SelectList)ViewData["Classes"];
     <div class="col-md-6">
        <p class="form-group" style="margin-bottom:15px;margin-top:15px">Select Classes</p>

    @using (Html.BeginForm("ListStudents", "Grades", FormMethod.Post))
    {
        <div class="form-group">
           
            @Html.DropDownList("classId", classes, "Choose Class", new { @class = "form-select" })
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top:15px">Submit</button>
    }

     </div>
}


